<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product" lang="{{lang}}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css{{css_version}}">
    <link rel="stylesheet" type="text/css" href="/css/animate.css{{css_version}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="fragment" content="!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--[if lte IE 8]>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta http-equiv="content-script-type" content="text/javascript">
    <meta name="title" content="{{title}}">
    <meta name="description" content="{{description}}">
    <meta name="kewords" content="{{keywords}}">
    <meta name="author" content="{{title}}" />
    <meta name="robots" content="index,follow" />
    <meta name="google" content="notranslate">
    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{description}}">
    <meta itemprop="image" content="{{image}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{twitter_site}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="{{twitter_site}}">
    <meta name="twitter:image" content="{{image}}">
    <meta property="og:site_name" content="{{site_name}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:image" content="{{image}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="article:published_time" content="{{date}}" />
    <meta property="article:modified_time" content="{{date}}" />
    <meta property="fb:app_id" content="{{fb_app_id}}" />
    <title>{{title}}</title>
    <link rel="icon" sizes="32x32" href="/favicon.ico{{css_version}}">
    {{#each alternate_list}}
        <link rel="alternate" href="{{url}}" hreflang="{{lang}}" />
    {{/each}}
    <script type="text/javascript" src="/js/sub/check.js{{js_version}}"></script>
</head>
<body data-lang="{{lang}}">
    <div class="body-inner">
        <div style="position:absolute;top:0;left:0;right:0;bottom:0;">
            <div class="body-inner-main">
                <div style="position:relative;">
                    <div id="login">
                        {{#with i18n}}
                            <div id="login-title" class="animated swing"><a href="/"><img id="login-logo" src="{{aws_s3_url}}/icons/logo.png{{css_version}}" alt="Gleant" title="Gleant"><div class="logo-description">{{login}}</div></a></div>
                            <form id="login-form">
                                <label for="login-email">{{email}}</label><input id="login-email" type="email" placeholder="{{email}}">
                                <label for="login-password">{{password}}</label><input id="login-password" type="password" placeholder="{{password}}">
                                <input id="login-submit" type="submit" value="{{login}}">
                            </form>
                            <div id="login-kakao"><img id="kakaotalk-logo" src="{{aws_s3_url}}/icons/kakaotalk-logo.png{{css_version}}"><div id="kakaotalk-title">Kakao {{login}}</div></div>
                            <div id="login-facebook"><img id="facebook-logo" src="{{aws_s3_url}}/icons/facebook-logo.png{{css_version}}"><div id="facebook-title">Facebook {{login}}</div></div>
                            <a href="/forgot-password" style="float:left;text-decoration:none;margin-top:15px;"><div class="link-forgot-password">{{forgot_password}}</div></a><a href="/register" style="float:right;text-decoration:none;margin-top:15px;"><div class="link-register">{{register}}</div></a>
                            <div style="padding-top:10px;text-align:center;clear:both;width:100%;">
                                <a class="btn-back-home" href="/"><div>{{return_home}}</div></a>
                            </div>
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
        <div id="loader"></div>
    </div>
    <script type="text/javascript" src="/js/sub/jquery.min.js{{js_version}}"></script>
    <script type="text/javascript" src="/js/sub/kakao.min.js{{js_version}}"></script>
    <script type="text/javascript" src="/js/sub/clipboard.min.js{{js_version}}"></script>
    <script type="text/javascript" src="/js/sub/i18n_en.js{{js_version}}"></script>
    <script type="text/javascript" src="/js/sub/i18n_ja.js{{js_version}}"></script>
    <script type="text/javascript" src="/js/sub/i18n_ko.js{{js_version}}"></script>
    <script type="text/javascript" src="/js/sub/i18n_zh-Hans.js{{js_version}}"></script>
    <script type="text/javascript" src="/js/sub/i18n.js{{js_version}}"></script>
    <script type="text/javascript" src="/js/sub/global.js{{js_version}}"></script>>
    <script type="text/javascript" src="/js/main/login.js{{js_version}}"></script>
    <script type="text/javascript" src="/js/sub/fixed_information.js{{js_version}}"></script>
    <script type="text/javascript" src="/js/sub/oauth.js{{js_version}}"></script>
</body>
</html>